{%extends 'index.html'%}
{% load crispy_forms_tags%}
{%block content%}
  <div>
    <form method = "POST"> 
      <!--if method attribute is not specified, the form is automatically sent back to the current url, which is register/, and the view is called, and a new form is created, and a new form is rendered.(if no request.method=='POST' condition is specified)-->
      {%csrf_token%}
  
      <fieldset class='form-group'>
          <legend class = 'border-bottom mb-4'>Join Today
          </legend>
          {{form | crispy}}
      </fieldset>
      <div class="form-group">
        <button class = 'btn btn-outline-info' type="submit">Sign Up></button>
      </div>
   </form>
   <div class = 'border-top pt-3'>
      <small class = 'text-muted'><a href="{%url 'login'%}">Already have an account?
      </a></small>
   </div>
  </div>
  {%endblock%}